h1 {
    color: white;
    background-color: black;
  }
  .span{
color: cyan;
}
h2{
    text-align:center;
    background-color: rebeccapurple;
    color: white;
    font-style:italic;
}
h3{
    background-color:skyblue;
    text-align:right;
    text-decoration: underline;
}